.forecast {
  &__display {
    position: relative;
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    height: 34%;
  }

  &__card {
    position: relative;
    width: 13%;
    height: 100%;
    background-color: $color-gray-light-1;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1rem 2rem 2rem rgba($color-black, 0.5);

    &--background {
      &__img {
        height: 100%;
        width: 100%;
        filter: brightness(70%);
      }
    }

    &--date {
      position: absolute;
      top: 8%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 170px;
      font-size: 1.5rem;
      text-align: center;
      font-weight: 700;
    }

    &--icon {
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 125px;
      width: 125px;

      &__img {
        width: 100%;
        height: 100%;
      }
    }

    &--desc {
      position: absolute;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 135px;
      font-size: 2.5rem;
      text-align: center;
      font-weight: 500;
    }

    &--hi {
      position: absolute;
      top: 67%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 155px;
      font-size: 2.5rem;
      text-align: center;
      font-weight: 500;
    }

    &--low {
      position: absolute;
      top: 81%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 155px;
      font-size: 2.5rem;
      text-align: center;
      font-weight: 500;
    }

    &--day-1 {
      color: #fff;
    }

    &--day-2 {
      color: #fff;
    }

    &--day-3 {
      color: #fff;
    }

    &--day-4 {
      color: #fff;
    }

    &--day-5 {
      color: #fff;
    }

    &--day-6 {
      color: #fff;
    }

    &--day-7 {
      color: #fff;
    }
  }
}
